{% include 'components/header.html' %}

<div class="bg-[#343541] p-8 rounded-lg shadow-lg w-full max-w-md text-center text-white relative">

      <!-- Logo -->
      <div class="flex justify-center mb-4">
        <img src="/static/assets/images/logo.jpeg" alt="HerHealth Logo" class="rounded-full w-16 h-16">
    </div>

    <h1 class="text-2xl font-bold">Create your account</h1>
    
          <!-- Spinner -->
        <div class="spinner" id="spinner" style="display:none;">
            <div class="absolute inset-0 bg-dark bg-opacity-75 flex items-center justify-center">
                <div class="w-10 h-10 border-4 border-indigo-500 border-t-transparent rounded-full animate-spin"></div>
            </div>
        </div>

    <form id="frmCreateAccount">
        <input type="text" placeholder="Name*" id="regName" name="regName"
            class="mt-4 w-full p-3 border border-gray-600 rounded-lg bg-[#40414F] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-[#10A37F]">
        
        <input type="email" placeholder="Email address*" id="regEmail" name="regEmail"
            class="mt-4 w-full p-3 border border-gray-600 rounded-lg bg-[#40414F] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-[#10A37F]">
        
        <input type="password" placeholder="Password*" id="regPassword" name="regPassword"
            class="mt-4 w-full p-3 border border-gray-600 rounded-lg bg-[#40414F] text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-[#10A37F]">
        
        <button type="submit" id="btnCreateAccount" class="mt-4 w-full bg-[#10A37F] text-white py-3 rounded-lg font-medium hover:bg-[#1A7F64] transition-all">
            Continue
        </button>
    </form>

    <p class="mt-4 text-gray-300">
        Already have an account? <a href="/" class="text-[#10A37F] font-medium hover:underline">Log in</a>
    </p>
</div>



{% include 'components/footer.html' %}
