{% include 'components/user_header.html' %}

        <!-- Main Content -->
        <main class="w-full flex flex-col items-center justify-center p-4 min-h-screen">
                
                
                <h2 class="mt-10 text-2xl font-semibold">Featured</h2>
                <p class="text-gray-400">Curated top picks from this week</p>
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
                    <div class="bg-gray-800 p-4 rounded-lg">
                        <h3 class="text-xl font-bold">Features 1</h3>
                        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur.</p>
                    </div>
                    <div class="bg-gray-800 p-4 rounded-lg">
                        <h3 class="text-xl font-bold">Features 2</h3>
                        <p class="text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, aliquam.</p>
                    </div>
                    <div class="bg-gray-800 p-4 rounded-lg">
                        <h3 class="text-xl font-bold">Features 3</h3>
                        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum consequuntur.</p>
                    </div>
                    <div class="bg-gray-800 p-4 rounded-lg">
                        <h3 class="text-xl font-bold">Features 4</h3>
                        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, natus.</p>
                    </div>
                </div>
            </div>
        </main>

    <script src="/static/js/get_chat.js"></script>
    <script src="/static/js/post_chat.js"></script>

    {% include 'components/user_footer.html' %}